@import "../../shared/colour-palette.scss";
$wall : rgb(5, 5, 148);
$unexplored : rgb(116, 146, 156);
$explored : $background-colour;
$ungrouped-drone : lime;
$leader-drone : green;
$subordinate-drone : greenyellow;