@import "../../shared/colour-palette.scss";
$wall : rgb(5, 67, 148);
$unexplored : $background-colour;
$explored : rgb(0, 163, 0);
$ungrouped-drone : rgb(0, 255, 0);
$leader-drone : darkred;
$subordinate-drone : greenyellow;