@import "../../shared/colour-palette.scss";
a{
    &:link{
        color: $highlight-colour;
    }
    &:visited{
        color: $highlight-off-colour;
    }
    &:hover, &:active{
        color: $text-colour;
    }
}
.swarmsim-description{
    width: 50vh;
    margin: 0 auto;
}
